@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 100%;
  width: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #f1f6fd;
}

.max-width {
  @apply max-w-7xl mx-auto py-10 px-5 mt-10 lg:mt-0;
}

p {
  @apply text-slate-600;
  line-height: 1.8;
}

.navbar {
  @apply fixed w-2/3 lg:relative lg:w-auto -left-full transition duration-200 lg:left-0;
}

.navbar.open {
  @apply bg-white z-40 h-full lg:bg-transparent left-0 transition duration-200;
}

.navbar ul {
  @apply flex flex-col justify-start gap-8 lg:flex-row lg:items-center lg:justify-center mt-10 lg:mt-0;
}
